In [52]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [53]:
data = pd.read_csv('housing.csv')

In [54]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [55]:
features = ['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value',
'ocean_proximity']

## Question 1

In [56]:
data['ocean_proximity'].mode()

0    <1H OCEAN
dtype: object

In [57]:
X = data.drop(columns=['median_house_value'])
y = data['median_house_value']

In [58]:
data_train_full, data_test = train_test_split(data, test_size=0.2, random_state=42)

data_train, data_val = train_test_split(data_train_full, test_size=0.33, random_state=42)

## Question 2

In [59]:
data.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.924664,-0.108197,0.044568,0.069608,0.099773,0.055310,-0.015176,-0.045967
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.066983,-0.108785,-0.071035,-0.079809,-0.144160
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.320451,-0.296244,-0.302916,-0.119034,0.105623
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.930380,0.857126,0.918484,0.198050,0.134153
total_bedrooms,0.069608,-0.066983,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007723,0.049686
population,0.099773,-0.108785,-0.296244,0.857126,0.877747,1.000000,0.907222,0.004834,-0.024650
households,0.055310,-0.071035,-0.302916,0.918484,0.979728,0.907222,1.000000,0.013033,0.065843
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007723,0.004834,0.013033,1.000000,0.688075
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049686,-0.024650,0.065843,0.688075,1.000000

In [60]:
data['above_average'] = np.where(data['median_house_value']>data['median_house_value'].mean(), 1, 0)

In [61]:
data['above_average'].value_counts()

0    12255
1     8385
Name: above_average, dtype: int64

## Question 3

In [62]:
from sklearn.metrics import mutual_info_score
#from sklearn.feature_selection import mutual_info_regression

In [63]:
data_train_full, data_test = train_test_split(data, test_size=0.2, random_state=42)

data_train, data_val = train_test_split(data_train_full, test_size=0.33, random_state=42)

In [67]:
def calculate_mi(series):
    return mutual_info_score(series, data_train_full.above_average)

df_mi = data_train_full[['ocean_proximity']].apply(calculate_mi)
df_mi = df_mi.sort_values(ascending=False).to_frame(name='MI')


display(df_mi.head())

                       MI
ocean_proximity  0.101922

## Question 4

In [69]:
from sklearn.feature_extraction import DictVectorizer

In [72]:
numerical = ['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income']
train_dict = data_train[['ocean_proximity'] + numerical].to_dict(orient='records')

In [73]:
train_dict[0]

{'ocean_proximity': '<1H OCEAN',
 'latitude': 34.22,
 'longitude': -118.46,
 'housing_median_age': 35.0,
 'total_rooms': 2288.0,
 'total_bedrooms': 617.0,
 'population': 2222.0,
 'households': 566.0,
 'median_income': 2.6299}

In [74]:
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(dtype=<class 'numpy.float64'>, separator='=', sort=True,
               sparse=False)

In [80]:
X_train = dv.transform(train_dict)
y_train = data_train.above_average.values

In [81]:
dv.get_feature_names()

['households',
 'housing_median_age',
 'latitude',
 'longitude',
 'median_income',
 'ocean_proximity=<1H OCEAN',
 'ocean_proximity=INLAND',
 'ocean_proximity=ISLAND',
 'ocean_proximity=NEAR BAY',
 'ocean_proximity=NEAR OCEAN',
 'population',
 'total_bedrooms',
 'total_rooms']

In [82]:
from sklearn.linear_model import LogisticRegression

In [83]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [86]:
val_dict = data_val[['ocean_proximity'] + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [87]:
y_pred = model.predict_proba(X_val)[:, 1]

In [88]:
target = y_pred > 0.5

In [90]:
y_val = data_val.above_average

In [91]:
(y_val == target).mean()

0.8342815195448706